/* Header */

.header {
    width: 1920px;
    height: 800px;
    background-color:  #ffc5d1c2;

}

.button-pure{
    color:#fc0032c2;
    padding: 15px 35px;
    border-radius: 5px;
    border-color:#fc345c;

}
.banner .photo{
    padding-left: 850px;
    width: 620px;
    height: 800px;  
}
.head-text{
    
    margin-left: 280px;
    margin-top: 200px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head-text p{
    color: rgba(0, 0, 0, 0.315);


}
.banner{
    display: flex;
    width: 635px;
    height: 800px;
}

/*Section About*/
.about{
    padding: 10px 150px;

}
.box{
    margin-left: 580px;
   align-content: center;
   max-height: 132px;
    background-color:#ffc5d171;
    width: 550px;

}
.box .peragrap{
    padding: 10px 0px;
    
}

/* Three Box*/

.tree-box{
    width: 1440px;
    height: 605px;
}
.tree-box .fast-box{
    background-color: #a721624b;
    width: 400px;
    height: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;

}
.tree-box .second-box{
    background-color: #0598a059;
    width: 400px;
    height: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;

}
.tree-box .thard-box{
    background-color: #477d114b;
    width: 400px;
    height: 500px;
    border-top-right-radius: 250px;
    border-top-left-radius: 250px;

}
.tree-box{
    margin-left: 160px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.box-photo{
    width: 390px;
    height: 500px;
}
.box-photo2{
    width: 350px;
    height: 480px;
}
.box-photo3{
    width: 390px;
    height: 500px;
    
}

/*Discount Box*/

.discount{
    margin: top 120px;
    width: 1922px;
    height: 622px;
    background-color:#ffc5d163 ;

}
.discount-text h1{
    margin-top: 250px;
    margin-left: 450px;
    font-family: 'Franklin Gothic Medium';

    font-size: xx-large;
    align-items: center;
    
}
.discount-p{
    font-family: 'Franklin Gothic Medium';
    font-size: medium;
    color: rgba(0, 0, 0, 0.363);
    padding-left: 250px;
    padding: bottom 550px;
    
}
.discount{
    display: flex;
}
.button-text2{
    color:#ffffffc2;
    padding: 15px 35px;
    border-radius: 5px;
    border-color:#ff224e;
    background-color: #ff224e;
    margin-left: 600px;

}
